@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #118C4F;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    border: 12px solid white;
    padding: 5%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
    outline: none;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
}

header hr {
    margin: 5px;
}

ul li {
    list-style: none;
    margin: 5px 0;
}

.dollar-field {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.dollar-field input {
    width: 25%;
    height: 40px;
    font-size: 20px;
    margin-right: 5px;
    outline: none;
}

.dollar-field img {
    width: 40px;
}

.dollar-field img:hover {
    transform: scale(0.95);
    filter: saturate(300%);
}

.coins {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.coins p {
    text-align: center;
}

hr {
    background-color: white;
}
